<configuration>
  <system.web>
    <compilation targetFramework="4.0" />
    <customErrors mode="Off" redirectMode="ResponseRewrite">
      <error statusCode="404" redirect="/index.html" />
    </customErrors>
  </system.web>
  <system.webServer>
    <httpErrors errorMode="Detailed">
      <remove statusCode="404" />
      <error statusCode="404" path="/index.html" responseMode="ExecuteURL" />
    </httpErrors>
  </system.webServer>
</configuration>